extends layout
block content
	div#msg-holder
		span Welcome to #YAFA
		span Where you can let someone know that they're awesome!
	div#message-container
		span#message-span

	div#footer-container
		a(href='/add') Want to let someone know they're awesome?