extends layout
block content
	div#message-container
		span#message-span

	div#footer-container
		a(href='/add') Want to let someone know they're awesome?

block scripts
	script
		YAFA.messages = !{messages};