extends layout
block styles
	style.
		body { background-color: #{bgColor}; color: #{textColor}; }

block content
	div#msg-holder
		each message in messages
			span= message

	div#message-container
		span#message-span

	div#footer-container
		a(href='/add') Want to let someone know they're awesome?

block scripts