@import "require.less";
@import "boilerplate.less";
@import "plugins/plugins.less";


html,
body {
    min-height: 100%;
    height: 100%;
}

body { 
    background-color: @main;
    color: @text;
}
a {
    color: @link;
}
#banner {
  height:40px;
  width: 300px;
  line-height: 40px;
  position: fixed;
  top: 50px;
  left: -85px;
  
  background: @lightMedium;
  border: 1px solid @text;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 10px @text;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: @main;
  
  .transform(rotate(-45deg));
}
#page {
    width: 800px;
    margin: 0 auto;
}
#message-container {
    font-size: 84px;
    width: 85%;
    margin: 0 auto;
}
#footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 1s linear;
}
#footer-container.done {
    opacity: 1;
}
#add-container {
    font-size:18px;
}
.text-wrap textarea {
    width: 100%;
    background: fade(@lightMedium, 40);
    height: 100px;
    font-size: 32px;
    color: @text;
    border: 1px solid fade(@text, 75);
}
.text-wrap {
    margin: 20px 0;
}
button {
    border: 1px solid @text;
    border-radius: 3px;
    padding: 10px 20px;
    color: @main;
    background-color: @mediumDark;
    .transition(all .1s linear);
}
button:hover {
    background-color: @lightMedium;
    color: @text;
}
textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #bb73ac;
}
#page-container {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

#add-container,
#result-container {
    position: absolute;
    top: 0;
    left: 0;
    .transition(opacity 1s linear);
}
body #result-container {
    opacity: 0;
    font-size: 28px;
    text-align: center;
}
body.result-show #add-container {
    opacity: 0;
}
body.result-show #result-container {
    opacity: 1;
}
#teaser-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 64px;
    text-shadow: 2px 2px 0 black;
    height: 400px;
    line-height: 250px;
}
#teaser-container p {
    margin: 0;
}




